@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@600&display=swap");

body{
    background-image:linear-gradient( to right ,  rgb(190,252,94) 0% ,rgb(75,147,240) 100%);
}

.center{
    background-color: rgb(255,255,255);
    width:26%;
    height:30%;
    margin:15% auto;
    border-radius:10px;
    padding: 20px 40px;
}
h1{
    font-family:"Sansita Swashed",cursive;
    border-left: 4px solid rgb(69,142,247);
    padding:5px 10px;
    margin-bottom:60px;
    letter-spacing:4px;
    font-size: 30px;
}
input{
    border:2px solid rgb(0,0,0);
    padding:10px 60px;
    margin-bottom: 40px;
    border-radius: 10px;
}
form>div>input+span{
    position:relative;
    top:-70px;
    left:15px;
    font-family: sans-serif;
    font-size:14px;
    color:rgb(0,0,0)
}
form>div+div+div>input{
    background-color: rgb(69,142,247);
    color:#fff;
    font-family: sans-serif;
    border:none;
    padding:10px 50px
}